@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=DynaPuff:wght@500&family=Lobster+Two:wght@700&family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color:antiquewhite;
    background-image: url("bcg.jpg");
    background-size:cover;
    background-repeat:no-repeat; 
    width:100vw;
    height:100vh;
}
.container
{
    min-height:70vh;
    color:white;
    font-family: 'Varela Round', 'sans-serif';
    display:flex;
}
*
{
    margin:0;
    padding:0;
}
nav
{
    font-family: 'Ubuntu';

}
nav ul
{
    display:flex;
    align-items:center;
    list-style-type:none;
    height:55px;
    background-color: rgba(33,37,45);
    color:white;
    justify-content: flex-end;
}
nav ul li
{
    padding:0px 31px;
    font-weight:800;
    font-size:1.0rem;
}
nav ul li:hover
{
    color:rgb(126, 122, 122);
    cursor:pointer;
}
.brand img
{
    width:54px;
    padding:0px 34px;

}
.brand img:hover{
    cursor:text;
}
.brand
{
    display:flex;
    align-items:center;
    font-size:1.2rem;

}
#search
{
    border:1px solid rgb(109, 102, 102);
    border-radius:7px;
    padding:7px;
    margin-right:16px;
    color:cadetblue;
}
#btn
{
    height: 34px;
    border-radius: 4px;
    width: 81px;
    border: 1px solid grey;
    font-family: 'Ubuntu';
    font-weight:800;
    
}
#btn:hover
{
    cursor:pointer;   
}
nav>ul>li.brand:hover
{
    cursor: default;
    color:white;
}
nav>ul>li.brand
{
    font-family: 'Lobster Two', cursive;
    font-size:40px;
}
.bottom>input
{
    cursor:pointer;
}
.bottom
{
    position:sticky;
    height:128px;
    /* background-color:white; */
    color:white;
    bottom:0;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.icons
{
    margin:14px;

}
.icons>i
{
    cursor:pointer;
}
#myProgressBar
{
    width:60vw;
    padding:3px;
}
div>i
{
    padding:0px 10px;
    margin-left:9px;
}
ul>li>img
{
    margin-left:-863px;
}
.songItem
{
    height:50px;
    display:flex;
    color:white;
    margin:9px 0px;
    justify-content:left;
    align-items:flex-end;
    border-radius:7px;
    margin-left:0px;
    font-family: 'DynaPuff', cursive;
    font-weight:100;
    
}
.songItem img
{
    width:33px;
    border-radius:7px;

}
.timeStamp
{
    margin:0px 20px;
}
.timeStamp i
{
    cursor:pointer;
}
.songInfo
{
    display:flex;
}
.songInfo img
{
    width:47px;
    margin-bottom:2px;
    margin-left:15px;
    opacity:0;
    transition:opacity 0.6s ease-in;
    background-color:rgb(219, 90, 64);
    /* height:40px; */
}
.songInfo span
{
    font-family: 'DynaPuff', cursive;
    font-weight:100;
    margin:13px 10px;
}